@import "tailwindcss";

@theme {
  --color-navy-950: #06111d;
  --color-navy-900: #091827;
  --color-navy-800: #102438;
  --color-felt-900: #073426;
  --color-felt-800: #0b4935;
  --color-felt-700: #126047;
  --color-ivory: #fffdf8;
  --color-ivory-2: #f3eee3;
  --color-brass: #e1bd75;
  --color-brass-dark: #9d7840;
  --color-vermilion: #e64f3d;
}
